# Machine Selection
MACHINE ?= "raspberrypi3-64"

# Default policy config
DISTRO ?= "poky"

# Package Management configuration
PACKAGE_CLASSES ?= "package_ipk"

# SDK target architecture
SDKMACHINE ?= "x86_64"

# Additional image features
USER_CLASSES ?= "buildstats"

# Interactive shell configuration
PATCHRESOLVE = "noop"

# Where to place downloads
DL_DIR ?= "${TOPDIR}/../../cache/downloads"

# Where to place shared-state files
SSTATE_DIR ?= "${TOPDIR}/../../cache/sstate-cache"

# Exclude some features (save time during build)
DISTRO_FEATURES:remove = " x11 wayland vulkan 3g opengl"

# Specify license white list
LICENSE_FLAGS_ACCEPTED = "commercial synaptics-killswitch"

# Specify version for tracking
CONF_VERSION = "2"

# Specify image filesystem types
IMAGE_FSTYPES = "tar.bz2 ext4 rpi-sdimg"

# Increase free disk space
IMAGE_ROOTFS_EXTRA_SPACE = "524288"
IMAGE_OVERHEAD_FACTOR = "1.5"

# Use systemd for system initialization
DISTRO_FEATURES:append = " systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED:append = " sysvinit"
VIRTUAL-RUNTIME_init_manager = "systemd"
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"
VIRTUAL-RUNTIME_login_manager = "shadow-base"
VIRTUAL-RUNTIME_dev_manager = "systemd"
